header {
    background-color: #4c65b6;
    padding: 10px, 15px;
    align-items: center;
    justify-self:center;
    justify-content: space-around;
}

.limit {
    width:100%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    display: flex;
}

a {
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}